* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 1em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    outline: none; 
}

/* for fluid height*/
html,body {
    height : 100%;
    min-height: 100%;
}

.media, audio, video, img {
    width: 100%;
    max-width: 100%;
}

.fluid-element {
    height : 100%;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
}

a, a:active, a:hover, a:visited {
    text-decoration: none;
    color: black;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.hide {
    display: none;
}

.spacefiller{
    width: 60px;
    height: 60px;
}