/* HOME */
.homeOff {
    background: url("../images/icons/homeOff.png") no-repeat;
}

.homeOn {
    background: url("../images/icons/homeOn.png") no-repeat;
}

/* PORTFOLIO */
.profileOff {
    background: url("../images/icons/profileOff.png") no-repeat;
}

.profileOn {
    background: url("../images/icons/profileOn.png") no-repeat;
}

/* LOG OUT */
.logoutOff {
    background: url("../images/icons/logoutOff.png") no-repeat;
}

.logoutOn {
    background: url("../images/icons/logoutOn.png") no-repeat;
}

/* NEWS */
.newsOff {
    background: url("../images/icons/newsOff.png") no-repeat;
}

.newsOn {
    background: url("../images/icons/newsOn.png") no-repeat;
}

/* WALLET*/
.walletOff {
    background: url("../images/icons/walletOff.png") no-repeat;
}

.walletOn {
    background: url("../images/icons/walletOn.png") no-repeat;
}

/* SETTINGS */
.settingsOff {
    background: url("../images/icons/settingsOff.png") no-repeat;
}

.settingsOn {
    background: url("../images/icons/settingsOn.png") no-repeat;
}

/* NOTIFICATIONS*/
.notifyOff {
    background: url("../images/icons/alarmOff.png") no-repeat;
}

.notifyOn {
    background: url("../images/icons/alarmOn.png") no-repeat;
}


/**** CURRENCIES ****/

#dollar { background-image: url("../images/currencies/dollar.png") }
#euro { background-image: url("../images/currencies/euro.png") }
#pound { background-image: url("../images/currencies/pound.png") }
#yen { background-image: url("../images/currencies/yen.png") }
#won { background-image: url("../images/currencies/won.png") }
#franc { background-image: url("../images/currencies/franc.png") }
#krona { background-image: url("../images/currencies/krona.png") }
#lira { background-image: url("../images/currencies/lira.png") }
#rupee { background-image: url("../images/currencies/rupee.png") }
#ruble { background-image: url("../images/currencies/ruble.png") }
#shekel { background-image: url("../images/currencies/shekel.png") }