/* HOME */
.homeOff {
    background: url("../images/icons/homeOff.png") no-repeat;
}

.homeOn {
    background: url("../images/icons/homeOn.png") no-repeat;
}

/* PORTFOLIO */
.profileOff {
    background: url("../images/icons/profileOff.png") no-repeat;
}

.profileOn {
    background: url("../images/icons/profileOn.png") no-repeat;
}

/* LOG OUT */
.logoutOff {
    background: url("../images/icons/logoutOff.png") no-repeat;
}

.logoutOn {
    background: url("../images/icons/logoutOn.png") no-repeat;
}

/* NEWS */
.newsOff {
    background: url("../images/icons/newsOff.png") no-repeat;
}

.newsOn {
    background: url("../images/icons/newsOn.png") no-repeat;
}

/* WALLET*/
.walletOff {
    background: url("../images/icons/walletOff.png") no-repeat;
}

.walletOn {
    background: url("../images/icons/walletOn.png") no-repeat;
}

/* SETTINGS */
.settingsOff {
    background: url("../images/icons/settingsOff.png") no-repeat;
}

.settingsOn {
    background: url("../images/icons/settingsOn.png") no-repeat;
    
}

/* NOTIFICATIONS*/
.notifyOff {
    background: url("../images/icons/alarmOff.png") no-repeat;
}

.notifyOn {
    background: url("../images/icons/alarmOn.png") no-repeat;
}

.notifyOn, .settingsOn, .walletOn, .newsOn, .logoutOn, .profileOn ,.homeOn {
    background-color: hsla(0, 0%, 53.3%, .2);
}


/**** CURRENCIES ****/

#dollar { background-image: url("../images/currencies/dollar.png") }
#euro { background-image: url("../images/currencies/euro.png") }
#pound { background-image: url("../images/currencies/pound.png") }
#yen { background-image: url("../images/currencies/yen.png") }
#won { background-image: url("../images/currencies/won.png") }
#franc { background-image: url("../images/currencies/franc.png") }
#krona { background-image: url("../images/currencies/krona.png") }
#lira { background-image: url("../images/currencies/lira.png") }
#rupee { background-image: url("../images/currencies/rupee.png") }
#ruble { background-image: url("../images/currencies/ruble.png") }
#shekel { background-image: url("../images/currencies/shekel.png") }


/**** SETTINGS ICONS ****/

#profileSettings {
    background-image: url("../images/settingsIcons/profileSettings.png");
}

#notificationSettings {
    background-image: url("../images/settingsIcons/notificationSettings.png");
}

#securitySettings {
    background-image: url("../images/settingsIcons/securitySettings.png");
}

#paymentSettings {
    background-image: url("../images/settingsIcons/paymentSettings.png");
}

#activitySettings {
    background-image: url("../images/settingsIcons/activitySettings.png");
}

#interfaceSettings {
    background-image: url("../images/settingsIcons/interfaceSettings.png");
}

#deleteSettings {
    background-image: url("../images/settingsIcons/deleteSettings.png");
}
 

#profileSettings, #notificationSettings, #securitySettings, #paymentSettings, #activitySettings, #interfaceSettings, #deleteSettings {
    background-size: 30px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}


/***** DEPOSIT ICONS *****/

#method1 {
    background-image: url("../images/paymentIcons/1.png");
}

#method2 {
    background-image: url("../images/paymentIcons/2.png");
}

#method3 {
    background-image: url("../images/paymentIcons/3.png");
}

#method4 {
    background-image: url("../images/paymentIcons/4.png");
}

#method5 {
    background-image: url("../images/paymentIcons/5.png");
}

#method6 {
    background-image: url("../images/paymentIcons/6.png");
}

#method7 {
    background-image: url("../images/paymentIcons/7.png");
}

#method8 {
    background-image: url("../images/paymentIcons/8.png");
}

#method9 {
    background-image: url("../images/paymentIcons/9.png");
}

#method10 {
    background-image: url("../images/paymentIcons/10.png");
}

#method11 {
    background-image: url("../images/paymentIcons/11.png");
}

#method12 {
    background-image: url("../images/paymentIcons/12.png");
}

#method13 {
    background-image: url("../images/paymentIcons/13.png");
}

#method14 {
    background-image: url("../images/paymentIcons/14.png");
}

#method15 {
    background-image: url("../images/paymentIcons/15.png");
}

#method16 {
    background-image: url("../images/paymentIcons/16.png");
}

#method1, #method2, #method3, #method4, #method5, #method6, #method7, #method8, #method9, 
#method10, #method11, #method12, #method13, #method14, #method15, #method16 {
    background-repeat: no-repeat;
    background-size: 85px;
    background-position: 32px 10px;
} 