@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


/**** NAVBAR ****/
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: white;
    box-shadow: rgba(17, 17, 17, 0.08)  0px 3px 10px 1px;
    z-index: 3;
}

/**** NAVBAR ITEMS ****/

#user {
    background: url("../images/profilePic.png") no-repeat;
    background-size: 50px;
    width : 50px;
    height: 50px;
    border: 1px solid rgba(104, 104, 104, 0.925);
    border-radius: 50%;
    margin: 10px 5px;
}

#notify {
    width: 30px;
    height : 30px;
    background-size: 25px;
    background-position: center; 
    text-align: center;
    margin: 20px 20px;
    cursor: pointer;
    border: none;
    outline: none; 
}


#notifyBox {
    position: fixed;
    top: 60px;
    right: 65px;
    z-index: 4;
    width: 200px;
    height: 270px;
    background: white;
    box-shadow: rgba(17, 17, 17, 0.178)  0px 0px 5px 2px;
}

#notifyBox > div { /* container des notification*/
    margin: 20px 0px;
}

#notifyBox > div > div { /* les notifications*/
    width : 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

#notifyBox > div div:hover {
    background-color: hsla(0, 0%, 53.3%, .2);
    cursor: pointer;
}

#search {
    border: 1px solid rgba(104, 104, 104, 0.925);
    height: 32px;
    border-radius: 5px;
    margin: 18px 10px;
    padding-left: 10px;
    font-size: 1em;
}

#searchbtn {
    width: 40px;
    height: 30px;
    background: url("../images/icons/searchBtn.png") no-repeat;
    background-size: 25px;
    background-position: center;
    border: none;
    border-left: 1px solid rgba(104, 104, 104, 0.925);
}

#searchbtn:hover {
    background-color: rgba(104, 104, 104, 0.2);
    cursor: pointer;
}

#searchtxt {
    width: 400px;
    height: 30px;
    border: none;
}

#logo {
    margin: 0 10px;
    width: 150px;
    height: 70px;
    background: url("../images/logo.png") no-repeat;
    background-position: center;
    background-size: 150px;
}

/**** MENUS ****/

#leftmenu {
    position: fixed;
    top: 70px;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(17, 17, 17, 0.1) 3px 0px 10px 1px;
    z-index: 2;
}

#leftmenu > div , #rightmenu > div {
    padding-top: 10px;
    position: relative;
    height: 100%;
}

#rightmenu {
    position: fixed;
    top: 70px;
    right: 0px;
    width: 60px;
    height: 100%;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(17, 17, 17, 0.1) -3px 0px 10px 1px;
    z-index: 2;
}

::-webkit-scrollbar {
    display: none;
  }
  
  ::-webkit-scrollbar-button {
    display: none;
  }

/**** MENU ITEMS ****/

.leftMenuItem {
    display: block;
    height: 50px;
    padding-left: 50px;
    line-height: 50px;
    font-weight: 700;
    background-size: 25px;
    background-position: 10px 11px;
    cursor: pointer;
}

#leftmenu > div > .leftMenuItem:last-child { /* this is for the logout Button */
    position: absolute;
    bottom: 80px;
    width : 100%;
}

.currency {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
}

.leftMenuItem:hover, .currency:hover {
    background-color: hsla(0, 0%, 53.3%, .2);
}

/**** MAIN CONTENT ****/

#sitecontainer {
    padding: 70px 0px 0px 150px;
    background: black;
    text-align:center;
}

#content {
    height: 100%;
    margin-right: 60px;
    min-height: 586px;
}

/**** MAIN CONTENT SECTIONS ****/

#upper {
    height: 78%;
}

#lower {
    height: 22%;
    background: rgb(112, 114, 108);
}

.col-1 {
    width: 33.333%;
    height: 100%;
    background: rgb(236, 218, 218);
    float: left;
}

.col-2 {
    width: 66.6666%;
    height: 100%;
    background: #c2c2c2;
    float: left;
}

/* ADDED */
.first {
    margin-left: 0px;
}

.last {
    margin-right: 0px;
}