@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/**** NAVBAR ****/
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: white;
    box-shadow: rgba(17, 17, 17, 0.08)  0px 3px 10px 1px;
    z-index: 3;
}

/**** NAVBAR ITEMS ****/

.topBarItem {
    display: inline-block;
    margin: 0 10px;
    height: 100%;
    text-align: center;
    line-height: 70px;
}

/**** MENUS ****/

#leftmenu {
    position: fixed;
    top: 70px;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(17, 17, 17, 0.1) 3px 0px 10px 1px;
    z-index: 2;
}

#rightmenu {
    position: fixed;
    top: 70px;
    right: 0px;
    width: 60px;
    height: 100%;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(17, 17, 17, 0.1) -3px 0px 10px 1px;
    z-index: 2;
}

#leftmenu > div, #rightmenu > div  {
    padding-top: 10px;
    position: relative;
    height: 100%;
}

/**** MENU ITEMS ****/

.leftMenuItem {
    height: 50px;
    background: black;
}

#leftmenu > div > .leftMenuItem:last-child { /* this is for the logout Button */
    position: absolute;
    bottom: 80px;
    width : 100%;
}


/**** MAIN CONTENT ****/

#sitecontainer {
    padding: 70px 60px 0px 150px;
    width : 100%;
    height: 100%;
    background: black;
    text-align:center;
}

#content {
    height: 100%;
    min-height: 586px;
}

/**** MAIN CONTENT SECTIONS ****/

#upper {
    height: 78%;
}

#lower {
    height: 22%;
    background: rgb(112, 114, 108);
}

.col-1 {
    width: 33.333%;
    height: 100%;
    background: rgb(236, 218, 218);
    float: left;
}

.col-2 {
    width: 66.6666%;
    height: 100%;
    background: #c2c2c2;
    float: left;
}

