@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


/**** NAVBAR ****/
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: white;
    box-shadow: rgba(17, 17, 17, 0.08)  0px 3px 10px 1px;
    z-index: 3;
}

/**** NAVBAR ITEMS ****/

.topBarItem {
    display: inline-block;
    margin: 0 10px;
    line-height: 70px;
}

#user {
    background: url("../images/profilePic.png") no-repeat;
    background-size: 50px;
    width : 50px;
    height: 50px;
    border: 1px solid rgba(104, 104, 104, 0.925);
    border-radius: 50%;
    margin: 10px 5px;
}

#notify {
    width: 30px;
    height : 30px;
    background-size: 25px;
    background-position: center; 
    text-align: center;
    margin: 20px 20px;
    cursor: pointer;
    border: none;
}


nav > div:last-child { /* will use js here to show and hide the notification area*/
    display: none;
    position: fixed;
    top: 60px;
    right: 65px;
    z-index: 4;
    width: 200px;
    height: 270px;
    background: white;
    box-shadow: rgba(17, 17, 17, 0.178)  0px 0px 5px 2px;
}


#search {
    border: 1px solid rgba(104, 104, 104, 0.925);
    line-height: 0px;
    border-radius: 5px;
    margin: 18px 10px;
    padding-left: 10px;
    font-size: 1.1em;
    overflow: hidden;
}

#searchbtn {
    width: 40px;
    height: 32px;
    background: url("../images/icons/searchBtn.png") no-repeat;
    background-size: 25px;
    background-position: center;
    border: none;
    border-left: 1px solid rgba(104, 104, 104, 0.925);
}

#searchbtn:hover {
    background-color: rgba(104, 104, 104, 0.2);
    cursor: pointer;
}

#searchtxt {
    width: 400px;
    height: 32px;
    border: none;
}

#logo {
    width: 150px;
    height: 70px;
    background: url("../images/logo.png") no-repeat;
    background-position: center;
    background-size: 150px;
}

/**** MENUS ****/

#leftmenu {
    position: fixed;
    top: 70px;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(17, 17, 17, 0.1) 3px 0px 10px 1px;
    z-index: 2;
}

#rightmenu {
    position: fixed;
    top: 70px;
    right: 0px;
    width: 60px;
    height: 100%;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(17, 17, 17, 0.1) -3px 0px 10px 1px;
    z-index: 2;
}

#leftmenu > div, #rightmenu > div  {
    padding-top: 10px;
    position: relative;
    height: 100%;
}

/**** MENU ITEMS ****/

.leftMenuItem {
    display: block;
    height: 50px;
    padding-left: 50px;
    line-height: 50px;
    font-weight: 700;
    background-size: 25px;
    background-position: 10px 11px;
}

.leftMenuItem:hover {
    background-color: hsla(0, 0%, 53.3%, .2);
}

#leftmenu > div > .leftMenuItem:last-child { /* this is for the logout Button */
    position: absolute;
    bottom: 80px;
    width : 100%;
}


/**** MAIN CONTENT ****/

#sitecontainer {
    padding: 70px 60px 0px 150px;
    width : 100%;
    height: 100%;
    background: black;
    text-align:center;
}

#content {
    height: 100%;
    min-height: 586px;
}

/**** MAIN CONTENT SECTIONS ****/

#upper {
    height: 78%;
}

#lower {
    height: 22%;
    background: rgb(112, 114, 108);
}

.col-1 {
    width: 33.333%;
    height: 100%;
    background: rgb(236, 218, 218);
    float: left;
}

.col-2 {
    width: 66.6666%;
    height: 100%;
    background: #c2c2c2;
    float: left;
}


/* ADDED */
.first {
    margin-left: 0px;
}

.last {
    margin-right: 0px;
}